@using Amazon_Replica.Areas.Identity.Data;

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-item nav-link active" id="roles" asp-area="" asp-controller="RoleManager" asp-action="Index">Roles</a></li>
    <br />
    <li class="nav-item"><a class="nav-item nav-link active" id="userRoles" asp-area="" asp-controller="UserRoles" asp-action="Index">UserRoles</a></li>
</ul>
